<div class="row">
  <form>
    <div class="col-md-6">
      <div class="form-group">
        <label for="resultFile">Result file to upload</label>
        <input type="file" class="form-control-file" name="resultFile" (change)="loadFile($event)" id="resultFile">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <button type="button" (click)="this.parseFileContent()" class="btn btn-success">Plot!</button>
      </div>
    </div>
  </form>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <app-main-plot [PlotEvent]="this.PlotEvent"></app-main-plot>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <app-prediction-plot [PlotEvent]="this.PlotEvent"></app-prediction-plot>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-2">
    <app-stats [PlotEvent]="this.PlotEvent"></app-stats>
  </div>
</div>
